@import "../../App.scss";

.page-background {
  background-color: $backgroundColor;
  background-image: url(../../assets/Shiny\ Overlay.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.App-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.App-header {
  background-color: transparent;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.brand header {
  color: white;
  font-size: 30px;
  font-weight: 600;
}

.brand p {
  font-size: larger;
  font-weight: 300;
  color: #3d3f43d8;
}

.brand a {
  font-size: medium;
  color: white;
}

.call-to-action button {
  transition: 500ms;
  background-color: $primaryButtonBackground;
  color: $primaryButtonTextColor;
  border-color: white;
}

.call-to-action button:hover {
  background-color: $secondaryButtonBackground;
  color: $secondaryButtonTextColor;
  border-color: white;
}

.App-content {
  display: flex;
  justify-content: space-between;
  height: 88vh;
}

.image-style {
  height: 500px;
  padding-right: 6rem;
  padding-top: 2rem;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 4rem;
}

.header-sub {
  gap: 1rem;
}

.header-style {
  font-size: xxx-large;
  color: #ffffff;
}

.sub-header-style {
  font-size: large;
  color: #6c7076;
}

.call-to-action-landing {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.call-to-action-landing .main-button {
  transition: 500ms;
  background-color: $primaryButtonBackground;
  color: $primaryButtonTextColor;
  border-color: white;
}

.call-to-action-landing .main-button:hover {
  background-color: $secondaryButtonBackground;
  color: $secondaryButtonTextColor;
  border-color: white;
  border-radius: 4px;
}

.call-to-action-landing .secondary-button {
  transition: 500ms;
  background-color: $secondaryButtonBackground;
  color: $secondaryButtonTextColor;
  border-color: white;
}

.call-to-action-landing .secondary-button:hover {
  background-color: $primaryButtonBackground;
  color: $primaryButtonTextColor;
  border-color: white;
  border-radius: 4px;
}

.canvas-container {
  width: 50%;
  height: 80vh;
}

.quote-background {
  background-color: #eaeaea;
}
