.drag-area {
  padding-bottom: 2rem;
}

.items-upload {
  display: grid;
  justify-items: center;
  grid-template-rows: 4;
  row-gap: 1rem;
  align-self: center;
  padding-top: 2rem;
}

button {
  font-size: 15px;
  font-weight: 600;
  background-color: #4188e3;
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  /* width: 18%; */
  height: 40px;
  border: 2px solid #4187e3;
  border-radius: 6px;
}

button:hover {
  color: white;
  background-color: #4187e3e0;
  border-radius: 6px;
}

button:active {
  color: white;
  background-color: #4187e3;
  border-radius: 6px;
}
