.input {
  /* border: 2px solid; */

  text-align: left;
}

input {
  padding-left: 0.5rem;
  height: 1.8rem;
  width: 97%;
  border: 0px;
  border-radius: 2px;
  border: 1px solid #a4a4a4;
}

input:focus {
  transition: 0.2s;
  height: 1.76rem;
  width: 97%;
  outline: none;

  border: 1.5px solid #4188e3;
  box-shadow: 0 2px 8px #4187e33f;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
  /* height: 16rem; */
  width: auto;
  padding-top: 0rem;
  /* padding-bottom: 1rem; */
}

.inside-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  /* border: 2px dashed #4188e3; */
}

header {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #45505a;
}

button {
  width: 100%;
  border-radius: 2px;
  cursor: pointer;
}

.incorrect-credentials {
  color: rgb(206, 79, 79);
}

p {
  color: #45505a;
  font-weight: 500;
}
