.match {
  padding-left: 0.5rem;
  height: 1.8rem;
  width: 97%;
  border: 0px;
  border-radius: 2px;
  border: 1px solid #a4a4a4;
}

.match:focus {
  transition: 0.2s;
  height: 1.76rem;
  width: 97%;
  outline: none;
  border: 1.5px solid #4188e3;
  box-shadow: 0 2px 8px #4187e33f;
}

.not-match {
  padding-left: 0.5rem;
  height: 1.8rem;
  width: 97%;
  border: 0px;
  border-radius: 2px;
  border: 1px solid rgb(206, 79, 79);
}

.not-match:focus {
  transition: 0.2s;
  height: 1.76rem;
  width: 97%;
  outline: none;
  border: 1.5px solid rgb(206, 79, 79);
  box-shadow: 0 2px 8px rgba(206, 79, 79, 0.232);
}

.pwd-container {
  position: relative;
}

.pwd-container img {
  cursor: pointer;
  position: absolute;
  width: 20px;
  right: 8px;
  top: 7px;
}
